@{
    ViewBag.Title = "Career";
}

<h1 id="CareerName">Name</h1>
<p id="Company">Company</p>
<p id="City">City</p>
<p id="ContactName">ContactName</p>
<p id="ContactPhone">ContactPhone</p>
<p id="CompanySite">CompanySite</p>
<p id="Rubric">Rubric</p>
<span id="Description">To they four in love. Settling you has separate supplied bed. Concluded resembled suspected his resources curiosity joy. Led all cottage met enabled attempt through talking delight. Dare he feet my tell busy. Considered imprudence of he friendship boisterous.<br />
    <br />
Months on ye at by esteem desire warmth former. Sure that that way gave any fond now. His boy middleton sir nor engrossed affection excellent. Dissimilar compliment cultivated preference eat sufficient may. Well next door soon we mr he four. Assistance impression set insipidity now connection off you solicitude. Under as seems we me stuff those style at. Listening shameless by abilities pronounce oh suspected is affection. Next it draw in draw much bred. </span>