
@{
    ViewBag.Title = "Resume";
}

<p id="Surname">Surname</p>
<p id="ResumeName">Name</p>
<p id="MiddleName">Middle Name</p>
<p id="Birtday">Birthday</p>
<p id="Gender">Gender</p>
<p id="City">City</p>
<p id="Phone">Phone</p>
<p id="Email">Email</p>
<p id="Skype">Skype</p>
<p id="Rubric">Rubric</p>
<a id="Portfolio" href="">Portfolio</a>
<p id="DesiredPosition">Desired position</p>
<p id="Payment">Payment</p>
<p id="Skills">Skils</p>