
@{
    ViewBag.Title = "Sign In";
}

<h2>Sign In</h2>

<div id="container">
    <form>
        <h1 align="center">Please sign in</h1>
        <label id="Login">Login</label>
        <input type="text">
        <label id="Password">Password</label>
        <p><a href="#">Do you forget password?</a></p>
        <input type="password">
        <input type="button" value="Sign in">
    </form>
</div>